<style>
img{
    max-height: 500px;
    max-width: 500px;
    width: 500px;
    height: 400px;
}
</style>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>My art</title>
<link rel="stylesheet" href="../style/styles.css">
</head>

<h1 class="title">My art</h1>

<h2>Art Portfoldio</h2>

<p>
I make art sometimes. Here is some of it. I also have some animations on the front page.
</p>

<img src="../images/Argo_Largo.png" alt="Argo_Largo.png" />
<img src="../images/computercat.png" alt="computercat.png" />
<img src="../images/I-use-arch-btw.png" alt="I-use-arch-btw.png" />
<img src="../images/Manjaro-KDE.png" alt="Manjaro-KDE.png" />
<img src="../images/Mario-Lava-attempt-2.png" alt="Mario-Lava-attempt-2.png" />
<img src="../images/Mario-lava-transparent.png" alt="Mario-lava-transparent.png" />
<img src="../images/Denshe-pose-1.png" alt="Denshe-pose-1.png" />
<img src="../images/Denshe-pose-2.png" alt="Denshe-pose-2.png" />
<img src="../images/Denshe-pose-3.png" alt="Denshe-pose-3.png" />
<img src="../images/Denshi-Meme-Server-Icon.png" alt="Denshi-Meme-Server-Icon.png" />
<img src="../images/Diego-Brando.png" alt="Diego-Brando.png" />
